*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background: #0c1022;
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #0c1022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s *var(--i));
}
.navbar a.active,
.navbar a:hover{
    background: linear-gradient(45deg, rgb(180, 18, 45), #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* header ends */
/* home starts */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height:3.5rem;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 500px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: linear-gradient(45deg, rgb(180, 18, 45),#3cf);
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: -1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}
.btn:hover{
    background: linear-gradient(45deg, #3cf, rgb(180, 18, 45));
    box-shadow: 0px 0px 5px 5px white ;
}
.home-img{
    width:410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards,floatImage
    4s ease-in-out infinite;
    animation-delay: 2.1s;

}
.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3cf, rgb(180, 18, 45));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px white ;
}
.home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
    z-index: 1;
}
.image img{
    max-width: 350px;
    object-fit: cover;
    height: 380px;
    width: 380px;
    left: 50%;
    border-radius: 50%;
    transform: translate(4% );
}

/* keyframes */
@keyframes slideTop{
    0%{
        opacity:0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideRight{
    0%{
        opacity:0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity:0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
   100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
/* home ends */
/* about starts */
.About{
    margin-left: 100px;
    padding-top: 100px;
    display: flex;
}
.about-img a{
    margin-left: 100px;
    margin-top: 50px;
}
.about-img{
    width:410px;
    height: 410px;
}
.about-content h1{
    padding-bottom: 20px;
}
.about-content p{
    font-size: 20px;
}
.about-content{
    padding-left: 250px;
    max-width:800px;
    line-height: 2rem;
}
.about-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3cf, rgb(180, 18, 45));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px white ;
}
.about-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
    z-index: 1;
}
.image img{
    max-width: 350px;
    object-fit: cover;
    height: 380px;
    width: 380px;
    left: 50%;
    border-radius: 50%;
    transform: translate(4% );
}
/* about ends */
/* skills */
.skills{
    margin-top: 150px;
}
 .Skills{
    display: flex;
 }
 .skill{
    width: 500px;
    margin-left: 100px;
    list-style: none;
 }
 .skill li{
    margin: 20px 0;
    padding: 10px;
 }
 .bar{
    background:#353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 }
 .bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 }
 .bar span{
    height: 20px;
    float:left;
    background: linear-gradient(135deg, rgb(34, 100, 83)0%,rgb(66, 228, 201)100%);
 }
 .HTML{
    width: 90%;
    animation: HTML 3s;
 }
 .CSS{
    width: 90%;
    animation: CSS 3s;
 }
 .JAVASCRIPT{
    width: 90%;
    animation: JAVASCRIPT 3s;
 }
 .MYSQL{
    width: 80%;
    animation: MYSQL 3s;
 }
 .JAVA{
    width: 80%;
    animation: MYSQL 3s;
 }
 @keyframes HTML{
    0%{
       width: 0%;
    }
    100%{
       width: 90%;
    }
 }
 @keyframes CSS{
    0%{
       width: 0%;
    }
    100%{
       width: 90%;
    }
 }
 @keyframes JAVASCRIPT{
    0%{
       width: 0%;
    }
    100%{
       width: 90%;
    }
 }
 @keyframes MYSQL{
    0%{
       width: 0%;
    }
    100%{
       width: 80%;
    }
 }
 @keyframes JAVA{
    0%{
       width: 0%;
    }
    100%{
       width: 50%;
    }
 }
.skills{
    padding-top: 100px;
}
.skills h1{
    padding-left: 550px;
}
.sub-title h1{
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sub-title span{
    color: #0ef;
}
section{
    flex-wrap: wrap;
}
.container1{
    padding-left: 100px;
}
.container{
    width: 600px;
    height: 500px;
    padding: 75px;
    margin-left: 120px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.heading1 h1{
    text-align: center;
    padding: 70px;
    font-size: 25PX;
}






@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;

}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation:animate-path1 1s 1s linear forwards;}
.path-1{animation:animate-path1 1s 1s linear forwards;}
.path-1{animation:animate-path1 1s 1s linear forwards;}
.path-1{animation:animate-path1 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 75;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

/* project starts */
.more{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
 }
 .history{
    border: 5px solid rgb(44, 198, 191);
    border-radius: 0px 50px 50px 0px;
    font-weight:900;
    font-size: 18px;
    width: 450px;
    padding: 0 20px;
    background-color: #fff;
    color: black;
 }
 .education{
    width: 750px;

 }
 #certificates{
    padding-top: 100px;
 }
 .Project{
    width: 350px ;
    margin: 50px;
    text-align: center;
 }
 .Project span{
    font-size: 20px;
    color: black;
    border:4px solid black;
    padding: 10px;
    background: linear-gradient(45deg, #3cf, rgb(180, 18, 45));
    box-shadow: 5px 5px 30px 5px rgb(143, 211, 254);
 }
 .Project ul{
    padding-top:25px;
    text-align: left;
    font-size: 18px;
    padding-left:20px;
    line-height: 2rem;
 }
 .internships{
    width: 450px ;
    margin: 50px;
    text-align: center;
 }
 .internships span{
    font-size: 20px;
    color: black;
    border:4px solid black;
    padding: 10px;
    background: linear-gradient(45deg, #3cf, rgb(180, 18, 45));
    box-shadow: 5px 5px 30px 5px rgb(143, 211, 254);
 }
 .internships ul{
    padding-top:25px;
    text-align: left;
    font-size: 18px;
    padding-left:20px;
    line-height: 2rem;
 }
/* project ends */
/* contact starts */
.contact
{
    position: relative;
    min-height: 100vh;
    padding-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content .p
{
    font-weight: 300;
    color:white;
    margin-top: 15px;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position:relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;  
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
